.page-header
{
	color: #337AB7;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 25px;
}
.page-header.no-subpage-nav
{
	margin-bottom:45px;
}

.panel-default > .panel-heading
{
	color: #337AB7;
	font-size: 20px;
}

h2 .panel-default > .panel-heading
{
	font-size:20px;
}

.subpage-nav
{
	font-size: 18px;
	margin-top:10px;
	margin-bottom:10px;
}

.details-col-header
{
	font-weight:700;
}