{{>header}}
 <div id="wrapper">
        {{>navigation}}
        <div id="page-wrapper">
		  <div class="row">
                <div class="col-lg-12">
                   <h1 class="page-header"> <i class="fa fa-bank fa-fw"></i> Account Details</h1>
                </div>
                <!-- /.col-lg-12 -->
          </div>
		  {{>subpage_nav}}
            <!-- /.row -->
			<div class="row">
			  <div class="col-lg-8">
				   <div class="panel panel-default">
                        <div class="panel-heading">
                            Transactions
                        </div>
                        <div class="panel-body">
						  <div class="row">
							<div class="details-col-header col-lg-2">
								Time
							  </div>
							  <div class="details-col-header col-lg-2">
								Type
							  </div>
							  <div class="details-col-header col-lg-2">
								Description
							  </div>
							  <div class="details-col-header col-lg-2">
								Amount
							  </div>
							</div>

						  {{#transactions}}
							<div class="row">
							  <div class="col-lg-2">
								{{timestamp}}
							  </div>
							  <div class="col-lg-2">
								{{type}}
							  </div>
							  <div class="col-lg-2">
								{{source}}
							  </div>
							  <div class="col-lg-2">
								{{amount}}
							  </div>
							</div>
						  {{/transactions}}
						</div>
                    </div>
			  </div>
            </div>
        </div>
    </div>
{{>footer}}
